{% extends '_templates/base.njk' %}

{% set relative_path = "../" %}

{% block page_title %}{{ name }}{% endblock %}

{% block page_description %}{{ name }}{% endblock %}

{% block content %}
  <article class="container">
    <div class="row">
      <div class="col-sm-4">
          <img src="../img/albums/{{ image }}" alt="album" class="img-fluid mb-4">
      </div>
      <div class="col-sm-8">
          <h1>{{ title }}</h1>
          <h2>{{ year }}</h2>
          <h3>Listen on Spotify: {{ link }}</h3>
          <p>{{ description | safe }}</p>
          <p>{{ blurb | safe }}</p>
      </div>
    </div>
  </article>
{% endblock %}
