{% extends '_templates/base.njk' %}

{% set relative_path = "../" %}

{% block page_title %}{{ name }}{% endblock %}

{% block page_description %}{{ name }}{% endblock %}

{% block content %}
  <article class="container">
    <div class="row">
      <div class="col-sm-4">
          <img src="../img/members/{{ image }}" alt="" class="img-fluid mb-4">
      </div>
      <div class="col-sm-8">
          <h1>{{ name }}</h1>
          <h2>{{ tenure }}</h2>
          <h3>{{ instruments }}</h3>
          <p>Place of birth: {{ birthplace }}</p>
          <p>Date of birth: {{ birthdate }}</p>
          <p>{{ description | safe }}</p>
          <p>{{ blurb | safe }}</p>
      </div>
    </div>
  </article>
{% endblock %}
