{% extends '_templates/base.njk' %}

{% set relative_path = "../" %}

{% block page_title %}{{ name }}{% endblock %}

{% block page_description %}{{ name }}{% endblock %}

{% block content %}
  <article class="container">
    <div class="row">
{% for member in members.members %}
      <div class="col-sm-4">
          <img src="../img/{{ slug }}.jpg" alt="" class="img-fluid mb-4">
{% endfor %}
      <div class="col-sm-8">
          <h1>{{ name }}</h1>
          <h2>{{ tenure }}</h2>
          <p>{{ blurb | safe }}</p>
        </div>
      </div>
    </div>
  </article>
{% endblock %}
