.jumbotron.banner {
    background: url(../img/background/queen-live-on-stage.jpg) no-repeat center;
    background-size: cover;
    color: white;
    padding-top: 12rem;
    font-family: 'Anton', sans-serif;
  }
  
  .jumbotron {
    margin-bottom: 30px;
  }